<!doctype html>
<html lang="en" class="h-100" data-bs-theme="light">

    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>{% block title %}LegoHunter{% endblock %}</title>
        {% endblock %}
    </head>

    <body class="d-flex flex-column h-100">
        
        {% block nav %}
        <header class="p-3 bg-danger text-white">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                  <h1>LegoHunter</h1>
                </a>
        
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{{ url_for('main.index') }}" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="{{ url_for('item.items') }}" class="nav-link px-2 text-white">Items</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('item.set_price_expectation') }}" class="nav-link px-2 text-white">Expectation</a></li>
                    {% endif %}
                    {% if current_user.is_administrator() %}
                    <li><a href="{{ url_for('item.crawl') }}" class="nav-link px-2 text-white">Crawl</a></li>
                    {% endif %}
                </ul>
        
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="GET" action="{{ url_for('item.search') }}">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" name="kw">
            </form>
    
            <div class="text-end">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.user', userid=current_user.id) }}" class="btn btn-warning">Profile</a>
                <a href="{{ url_for('auth.logout') }}" class="btn btn-warning">Log Out</a>
                {% else %}
                <a href="{{ url_for('auth.login') }}" class="btn btn-warning">Log In</a>
                <a href="{{ url_for('auth.signup') }}" class="btn btn-warning">Sign Up</a>
                {% endif %}
            </div>
            </div>
        </div>
        </header>
        {% endblock%}
    
        {% block content %}
        {% endblock %}

        {% block footer %}
        <footer class="footer mt-auto py-3 bg-body-tertiary">
            <div class="container">
                <span class="text-body-secondary">Copyright © 2024 All rights reserved</span>
            </div>
        </footer>
        {% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>