{% extends "base.html" %}

{% block content %}
<div class="my-3 p-3 bg-body rounded shadow-sm">
    <div class="row justify-content-center border-bottom">
        <div class="d-flex text-body-secondary pt-3">
            <div class="col-2">
                <strong class="text-gray-dark">
                    Set_number
                </strong>
            </div>
            <div class="col-2">
                <strong class="">
                    Price
                </strong>
            </div>
            <div class="col-2">
                <strong class="">
                    Site
                </strong>
            </div>
            <div class="col-6">
                <strong class="">
                    Title
                </strong>
            </div>
        </div>
    </div>

    {% for item in pagination.items %}
    <div class="row justify-content-center border-bottom">
        <div class="d-flex text-body-secondary pt-3">
            <div class="col-2">
                <p class="text-gray-dark">{{ item.set_number }}</p>
            </div>
            <div class="col-2">
                <p class="text-danger">¥{{ item.price }}</p>
            </div>
            <div class="col-2">
                <p class="text-danger">{{ item.site }}</p>
            </div>
            <div class="col-6">
                <a href="{{ item.url }}">{{ item.title }}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<nav aria-label="Page navigation example">
    <div class="container"> 
        <div class="row justify-content-center border-bottom">
            <div class="col-4">
                <ul class="pagination">
                    {% if pagination.has_prev %}
                    <li class="page-item"><a class="page-link text-danger" href="?page=1">&laquo; first</a></li>
                    <li class="page-item"><a class="page-link text-danger" href="?page={{ pagination.prev_num }}">{{ pagination.prev_num }}</a></li>
                    {% endif %}
                    
                    <li class="page-item active"><a class="page-link bg-danger" href="#">{{ pagination.page }}</a></li>
                    
                    {% if pagination.has_next %}
                    <li class="page-item"><a class="page-link text-danger" href="?page={{ pagination.next_num }}">{{ pagination.next_num }}</a></li>
                    <li class="page-item"><a class="page-link text-danger" href="?page={{ pagination.pages }}">last &raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
{% endblock %}
